---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/stable/stock/AAPL/company?token=pk_0a10f576f19e437eb756b38090974635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"AAPL","companyName":"Apple, Inc.","exchange":"NASDAQ","industry":"Telecommunications
        Equipment","website":"http://www.apple.com","description":"Apple, Inc. engages
        in designing, manufacturing, and marketing of mobile communication, media
        devices, personal computers, and portable digital music players. It operates
        through the following geographical segments: Americas, Europe, Greater China,
        Japan, and Rest of Asia Pacific. The Americas segment includes North and South
        America. The Europe segment consists of European countries, as well as India,
        the Middle East, and Africa. The Greater China segment comprises of China,
        Hong Kong, and Taiwan. The Rest of Asia Pacific segment includes Australia
        and Asian countries. Apple was founded by Steven Paul Jobs, Ronald Gerald
        Wayne, and Stephen G. Wozniak on April 1, 1976 and is headquartered in Cupertino,
        CA.","CEO":"Timothy Donald Cook","securityName":"Apple Inc.","issueType":"cs","sector":"Electronic
        Technology","employees":132000,"tags":["Electronic Technology","Telecommunications
        Equipment"]}'
  recorded_at: Sat, 17 Aug 2019 21:56:50 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/stable/stock/AAPL/dividends/2y?token=pk_0a10f576f19e437eb756b38090974635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '[{"exDate":"2017-11-10","paymentDate":"2017-11-16","recordDate":"2017-11-13","declaredDate":"2017-11-02","amount":0.63,"flag":"No
        Change QoQ","currency":"USD","description":"Apple Declares Quarterly Dividend
        of $0.63 Per Share","frequency":"Quarterly","date":"2019-08-17"}]'
  recorded_at: Sat, 17 Aug 2019 21:56:51 GMT
recorded_with: VCR 4.0.0
