---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/stable/stock/CIM/company?token=pk_0a10f576f19e437eb756b38090974635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"CIM","companyName":"Chimera Investment Corp.","exchange":"New
        York Stock Exchange","industry":"Real Estate Investment Trusts","website":"http://www.chimerareit.com","description":"Chimera
        Investment Corp. operates as a real estate investment trust. It engages in
        investing directly or indirectly through its subsidiaries, on a leveraged
        basis, in a portfolio of mortgage assets. It includes residential mortgage
        loans, residential mortgage-backed securities, commercial mortgage loans,
        real estate-related securities, and various other asset classes. The company
        was founded on June 1, 2007 and is headquartered in New York, NY.","CEO":"Matthew
        John Lambiase","securityName":"Chimera Investment Corporation","issueType":"cs","sector":"Finance","employees":38,"tags":["Finance","Real
        Estate Investment Trusts"]}'
  recorded_at: Sat, 17 Aug 2019 20:53:17 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/stable/stock/CIM/quote?token=pk_0a10f576f19e437eb756b38090974635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"CIM","companyName":"Chimera Investment Corp.","primaryExchange":"New
        York Stock Exchange","calculationPrice":"close","open":19.51,"openTime":1565962209124,"close":19.71,"closeTime":1565985632727,"high":19.74,"low":19.51,"latestPrice":19.71,"latestSource":"Close","latestTime":"August
        16, 2019","latestUpdate":1565985632727,"latestVolume":1012529,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":19.71,"delayedPriceTime":1565987296884,"extendedPrice":19.58,"extendedChange":-0.13,"extendedChangePercent":-0.0066,"extendedPriceTime":1566082597059,"previousClose":19.45,"previousVolume":935646,"change":0.26,"changePercent":0.01337,"volume":1012529,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":1358174,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":3688864470,"peRatio":21.54,"week52High":19.97,"week52Low":16.88,"ytdChange":0.11571899999999999,"lastTradeTime":1565987296884,"isUSMarketOpen":false}'
  recorded_at: Sat, 17 Aug 2019 20:53:17 GMT
recorded_with: VCR 4.0.0
