---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/CIM/chart/1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      frame-options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20181231","minute":"09:30","label":"09:30 AM","high":-1,"low":-1,"average":-1,"volume":0,"notional":0,"numberOfTrades":0,"marketHigh":18.23,"marketLow":18.2,"marketAverage":18.203,"marketVolume":29213,"marketNotional":531773.735,"marketNumberOfTrades":10,"marketOpen":18.2,"marketClose":18.212,"changeOverTime":null,"marketChangeOverTime":0},{"date":"20181231","minute":"09:31","label":"09:31
        AM","high":-1,"low":-1,"average":-1,"volume":0,"notional":0,"numberOfTrades":0,"marketHigh":18.24,"marketLow":18.225,"marketAverage":18.233,"marketVolume":4080,"marketNotional":74388.664,"marketNumberOfTrades":6,"marketOpen":18.225,"marketClose":18.23,"changeOverTime":null,"marketChangeOverTime":0.0016480799868154226},{"date":"20181231","minute":"09:32","label":"09:32
        AM","high":-1,"low":-1,"average":-1,"volume":0,"notional":0[...]
