---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/stable/stock/CIM/chart/1d?token=pk_0a10f576f19e437eb756b38090974635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-08-16","minute":"09:30","label":"09:30 AM","high":null,"low":null,"open":null,"close":null,"average":null,"volume":0,"notional":0,"numberOfTrades":0},{"date":"2019-08-16","minute":"09:31","label":"09:31
        AM","high":null,"low":null,"open":null,"close":null,"average":null,"volume":0,"notional":0,"numberOfTrades":0},{"date":"2019-08-16","minute":"09:32","label":"09:32
        AM","high":null,"low":null,"open":null,"close":null,"average":null,"volume":0,"notional":0,"numberOfTrades":0},{"date":"2019-08-16","minute":"09:33","label":"09:33
        AM","high":null,"low":null,"open":null,"close":null,"average":null,"volume":0,"notional":0,"[...]
